:root {
  --dark-color: #19283f;
  --green-color: #33d1cc;
  --yellow-color: #ffc400;
  --section-color: #cce8f3;
  --blue-color: #0d6efd;
}

body {
  font-family: "Roboto", sans-serif;
}

.title {
  margin-bottom: 70px;
}

.title::after {
  content: "";
  height: 2px;
  width: 120px;
  background: var(--green-color);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* --------------- navbar ----------------- */
.navbar {
  background-color: var(--dark-color);
}

.navbar .nav-link {
  color: #fff;
}

.navbar .nav-link.active,
.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: var(--green-color);
}

.navbar .search {
  border-left: 1px solid var(--green-color);
  cursor: pointer;
}

.navbar h3 {
  color: #fff;
}

.navbar .search svg {
  color: var(--green-color);
}

.navbar .navbar-toggler {
  color: #fff;
  font-size: 25px;
  border-color: #fff;
}

.navbar .navbar-toggler:focus {
  box-shadow: none;
}

.navbar .navbar-toggler[aria-expanded="true"] {
  border-color: var(--green-color);
}

/* --------------- landing ----------------- */
.landing {
  height: 100vh;
  background: var(--dark-color);
  color: #fff;
}

/* --------------- features ----------------- */
.features .icon-holder {
  height: 200px;
}

.features .icon-holder svg {
  left: 50%;
  transform: translateX(-50%);
}

.features .icon-holder svg.number {
  font-size: 12rem;
  color: var(--section-color);
}

.features .icon-holder svg.icon {
  color: var(--green-color);
}

.features h4 {
  color: var(--yellow-color);
}

/* --------------- our work ----------------- */
.work {
  background: var(--section-color);
}

.work .filter {
  text-transform: capitalize;
}

.work .filter li {
  cursor: pointer;
}

.work .filter li:hover {
  background: var(--blue-color);
}

.work .item {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  padding: 5px;
}

.work .item::before {
  content: "Application";
  position: absolute;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  background: rgba(51, 209, 204, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transform: translateX(-100%);
  transition: all 0.3s ease-in-out;
}

.work .item:hover::before {
  transform: translate(0);
}

/* --------------- about ----------------- */
.about .team {
  background: var(--section-color);
}

.team h2 {
  color: var(--yellow-color);
}

.team .member .name {
  background: var(--green-color);
}

.team .member blockquote {
  background: #fff;
}

/* --------------- start project ----------------- */
.project-start {
  background: var(--dark-color);
  color: #fff;
}

.project-start button {
  border: 0;
  color: #fff;
}

/* --------------- blog ----------------- */
.blog .blog-post {
  cursor: pointer;
  text-decoration: none;
  color: #000;
  transition: all 0.3s ease-in-out;
}

.blog .blog-post:hover {
  transform: scale(1.1);
}

/* --------------- subscribe ----------------- */
.subscribe {
  background: var(--yellow-color);
  color: var(--dark-color);
}

.subscribe input {
  background: none;
  border: 0;
  border-bottom: 2px solid #fff;
}

.subscribe button {
  background: var(--dark-color);
  color: var(--yellow-color);
}

.subscribe button:hover {
  color: #fff;
}

/* --------------- subscribe ----------------- */
footer {
  background: var(--dark-color);
}

footer ul a {
  color: var(--yellow-color);
}

footer ul a:hover {
  color: #fff;
}
